@font-face {
  font-family: "beyond_the_mountains";
  src: url("../fonts/beyond_the_mountains.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  margin-bottom: 10px;
  padding-left: 0 !important;
}
header {
  background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)),
    url("../images/bg_header.webp");
  background-size: cover;
  background-position: center center;
  /* Code xong sẽ xóa, để hiển thị tạm thời */
  min-height: 800px;
}
.navTop {
  background-color: #350a4e;
  color: #fff;
}
.navTop .container {
  display: flex;
  justify-content: space-between;
}
.navTop_socialNetwork,
.navTop_logIn {
  margin-top: 10px;
  font-size: 12px;
}

.navTop_socialNetwork ul {
  list-style-type: none;
  display: flex;
}

.navTop_socialNetwork ul li:first-child {
  margin-right: 80px;
}
.navTop_socialNetwork ul li:nth-child(2) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:nth-child(3) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:nth-child(4) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:nth-child(5) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:nth-child(6) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:last-child {
  margin: 0 8px;
}

.navTop_logIn ul {
  list-style-type: none;
  display: flex;
}
.navBar {
  background: rgba(54, 19, 84, 0.6);
  color: #fff;
}
/* 
  class custom jquery navbar fixed when scroll
*/
.navbarFixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  min-height: 100px !important;
  height: 0 !important;
  background: rgb(54, 19, 84) !important;
  padding-top: 15px !important;
  transition: all 1s ease;
}
/*
  end css custom jquery navbar fixed 
*/
.navBar .container {
  display: flex;
  justify-content: space-between;
}
.navBar .navBarLeft {
  display: flex;
}
.navBarLeft ul {
  list-style-type: none;
  display: flex;
}
.navBarLeft p {
  padding-top: 13px;
}
.navBarCenter ul {
  list-style-type: none;
  display: flex;
}
.navBarCenter {
  display: flex;
  align-items: center;
}
.navBarRight {
  display: flex;
  align-items: center;
}
.navBarCenter ul li {
  margin: 0 8px;
}
.navBarRight ul {
  list-style-type: none;
  display: flex;
}
.navBarCenter {
  position: relative;
}
.navBarCenter,
.navBarLeft,
.navBarRight {
  margin-top: 10px;
}
p {
  font-size: 30px;
  font-weight: bold;
}
.navBarCenter ul li a:hover {
  color: #fff;
}
.navBarCenter a::after {
  content: "";
  display: block;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  /* position: absolute;
  left: -3%;
  top: 25px; */
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: all 500ms ease;
}
.navBarCenter a:hover::after {
  opacity: 1;
}

.button1 {
  background-image: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  background-size: 200%;
  font-size: 13px;
  color: #fff;
  display: inline-blocks;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 15px 45px 15px 45px;
  text-align: center;
  border: none;
  /* opacity: 0; */
  transition: all 500ms ease;
  transform: scale(1);
}
.container2 {
  justify-content: center;
  display: flex;
}
.navBarRight {
  font-size: 18px;
  cursor: pointer;
}
.button1 {
  background-position: right center;
}
.button1:hover {
  background-position: right center;
  /* background: linear-gradient(225deg, #fa9e1b, #8d4fff); */
  transform: scale(1.1);
  background-position: right center;
}
.button1 :hover::after {
  opacity: 1;
}
.navBarRight:hover {
  color: orange;
}
.navTop_logIn ul li {
  cursor: pointer;
}
.navTop_socialNetwork ul li {
  cursor: pointer;
}
.middleTitleHeader :first-child {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
}
.middleTitleHeader :nth-child(2) {
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-family: "beyond_the_mountains";
}
.container2 .button1 span i {
  font-size: 5px;
  vertical-align: middle;
  padding: 0 2px;
}
.container2 .button1 span i:nth-child(2) {
  opacity: 0.6;
}
.container2 .button1 span i:last-child {
  opacity: 0.4;
}

section.bestTour {
  margin-top: 100px;
}
section.bestTour .container {
  text-align: center;
}
section.bestTour .container h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
}

section.bestTour .container p {
  font-style: italic;
  color: #929191;
  font-size: 24px;
  padding: 0 100px 0 100px;
}
section.bestTour .bestTourCard {
  display: flex;
  justify-content: space-between;
}
section.bestTour .bestTourCard .item {
  /* background-color: #fa9e1b; */
  /* background: url('../images/bestTour_bg_1.webp'); */
  background-size: cover;
  background-position: center center;
  padding: 40px 0px;
  height: 450px;
}
section.bestTour .bestTourCard .item:first-child {
  /* background-color: #fa9e1b; */
  background: url("../images/bestTour_bg_1.webp");
}
section.bestTour .bestTourCard .item:nth-child(2) {
  background: url("../images/bestTour_bg_2.webp");
}
section.bestTour .bestTourCard .item:nth-child(3) {
  background: url("../images/bestTour_bg_3.webp");
}

/* section best offers */
section.bestOffer .item_left img {
  width: 100%;
}
section.bestOffer .item_left span {
  background-color: #fa9e1b;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  left: 0;
  padding: 10px 35px;
  position: relative;
  bottom: 65px;
}

section .bestTourCardButton .button2 {
  background-image: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  background-size: 200%;
  font-size: 13px;
  color: #fff;
  display: inline-blocks;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 15px 60px 15px 60px;
  text-align: center;
  border: none;
  /* opacity: 0; */
  transition: all 500ms ease;
  transform: scale(1);
  margin-top: 80px;
}
.bestTourCardButton .button2 span i {
  font-size: 5px;
  vertical-align: middle;
  padding: 0 2px;
}
.bestTourCardButton .button2 span i:nth-child(2) {
  opacity: 0.6;
}
.bestTourCardButton .button2 span i:last-child {
  opacity: 0.4;
}
section.bestTour .bestTourCard .item .bestTourCardCalendar span {
  background-color: #fa9e1b;
  border-radius: 30px;
  padding: 5px 40px;
  /* margin-bottom: 30px; */
}
.costBestOffer {
  margin-top: -25px;
}

.costBestOffer h2 {
  color: #fa9e1b;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.costBestOffer p {
  display: inline-block;
  font-size: 14px;
  color: #929191;
  font-weight: 400;
  margin-bottom: 0;
}
.bestOffer_star i:first-child {
  color: #ffeb8d;
}

.bestOffer_star i:nth-child(2) {
  color: #fed46b;
}
.bestOffer_star i:nth-child(3) {
  color: #fbb53d;
}
.bestOffer_star i:nth-child(4) {
  color: #fa9e1b;
}
.bestOffer_star i:nth-child(5) {
  color: #a5a5a5;
}

.bestOffer_star {
  letter-spacing: 0.5px;
}

.item_right > div > p {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #929191;
}
.bestOfferIcons {
  letter-spacing: 8px;
}
.item_right > a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.4s ease;
}

.item_right > a:hover {
  color: #fa9e1b;
}

.bestOffer .item_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .bestTourCard p i:first-child {
  color: #ffeb8d;
}
.container .bestTourCard p i:nth-child(2) {
  color: #fed46b;
}
.container .bestTourCard p i:nth-child(3) {
  color: #fbb53d;
}
.container .bestTourCard p i:nth-child(4) {
  color: #fa9e1b;
}
.container .bestTourCard p i:nth-child(5) {
  color: #a5a5a5;
}
.bestTourCard p i {
  /* letter-spacing: 2px; */
  margin: 0 1px;
}
.back-to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: linear-gradient(60deg, #fa9e1b, #8d4fff);
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  transform: scale(1);
  transition: all 300ms ease;
}
.back-to-top-button span i {
  padding: 10px 16px;
  color: #fff;
  font-size: 32px;
}
.back-to-top-button:hover {
  transform: scale(1.07);
  opacity: 0.9;
}
/* section deluxe package */
section.deluxe_package {
  /* background: url(../images/background_sea.jpg); */
  background: linear-gradient(to right, rgba(250, 157, 27, 0.5), #8d4fff),
    url(../images/background_sea.jpg);
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.deluxe_package .container {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  background-color: #fff;
}
section.deluxe_package .container button {
  display: block;
  margin: 0 auto;
}

section.deluxe_package .container h2 {
  margin-top: 50px;
  font-weight: bold;
}
section.deluxe_package .container span {
  font-weight: 300;
  line-height: 2.3;
  color: #a5a5a5;
  font-size: 30px;
}

section.deluxe_package .container p i:first-child {
  color: #ffeb8d;
}
section.deluxe_package .container p i:nth-child(2) {
  color: #fed46b;
}
section.deluxe_package .container p i:nth-child(3) {
  color: #fbb53d;
}
section.deluxe_package .container p i:nth-child(4) {
  color: #fa9e1b;
}
section.deluxe_package .container p i:nth-child(5) {
  color: #a5a5a5;
}
section.deluxe_package .container .BookNow {
  background-image: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  background-size: 200%;
  font-size: 13px;
  color: #fff;
  display: inline-blocks;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 15px 60px 15px 60px;
  text-align: center;
  border: none;
  /* opacity: 0; */
  transition: all 500ms ease;
  transform: scale(1);
  margin-top: 80px;
}
section.deluxe_package .container .BookNow span i {
  font-size: 5px;
  vertical-align: middle;
  padding: 0 2px;
}
.bestTourCardButton .button2 span i:nth-child(2) {
  opacity: 0.6;
}
.bestTourCardButton .button2 span i:last-child {
  opacity: 0.4;
}

/* section.deluxe_package{
  justify-content: center;
  align-items: center;
  /* display: flex; */
section.feedback {
  margin-top: 60px;
}
section.feedback .item_top {
  background-color: #fa9e1b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  position: relative;
  left: 12px;
  top: -35px;
}
section.feedback .item {
  background: url("../images/feedback_img1.webp");
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 15px;
}
section.feedback .item_bottom {
  position: relative;
  top: 236px;
  left: -12px;
}
section.feedback .item_bottom .author_fb {
  background-color: #fff;
  display: inline-block;
  padding: 0 20px;
  letter-spacing: 0.1rem;
}

section.feedback .content_fb {
  color: #fff;
  background: rgba(49, 18, 75, 0.8);
}
section.feedback .content_fb {
  min-width: 330px;
}
section.feedback .row {
  justify-content: center;
}
section.feedback .content_fb {
  font-size: 15px;
  font-weight: 500;
  padding-left: 46px;
  padding-bottom: 8px;
}

section.feedback .content_fb p {
  font-size: 28px;
}

section.trending_Hotel .container .item {
  display: flex;
  margin-top: 30px;
}
section.trending_Hotel .container .info_hotel a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
section.trending_Hotel .container .info_hotel a:hover {
  color: #fa9e1b;
}
section.trending_Hotel .container .info_hotel p {
  color: #fa9e1b;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
section.trending_Hotel .container .info_hotel span {
  text-transform: uppercase;
  position: relative;
  top: 11px;
  color: #929191;
}
section.trending_Hotel .info_hotel {
  position: relative;
  margin-left: 15px;
  top: -7px;
}
section.getInTouch {
  background: url(../images/getInTouch_bg.png);
  min-height: 800px;
  min-width: 400px;
  background-position: center center;
  background-repeat: no-repeat;
}

section.getInTouch .container form {
  min-width: 100px;
  min-height: 500px;
  background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  border-radius: 7px;
  padding: 0 30px;
}
section.getInTouch .container h2 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
section.getInTouch h2 {
  margin: 60px 0;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}

section.getInTouch form {
  min-width: 200px;
  min-height: 700px;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  border-radius: 35px;
  margin-top: 30px;
}
section.getInTouch form input,
section.getInTouch form textarea {
  min-width: 200px;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  border-bottom: solid 1px #fff;
  padding-left: 0;
  padding-bottom: 15px;
}

section.getInTouch form input::placeholder,
section.getInTouch form textarea::placeholder {
  color: #fff;
  font-size: 12px;
}
section.getInTouch form input:focus-visible,
section.getInTouch form textarea:focus-visible {
  outline: none;
}
section.getInTouch form input:first-child {
  margin-right: 30px;
}

section.getInTouch form button {
  margin-top: 14px;
  padding: 16px 18px;
  border: none;
  border-radius: 36px;
  background-color: #31124b;
  transform: scale(1);
  font-size: 9px;
  color: #fff;
  font-weight: bold;
  transition: all 0.4s ease-out;
  text-transform: uppercase;
}

section.getInTouch form button:hover {
  transform: scale(1.05);
  opacity: 0.7;
}
section.getInTouch form button span i {
  font-size: 6px;
  vertical-align: middle;
  padding: 0 3px;
}
section.getInTouch form button span i:nth-child(2) {
  opacity: 0.6;
}
section.getInTouch form button span i:last-child {
  opacity: 0.4;
}
footer.footer {
  min-height: 300px;
  width: 100%;
  background-color: #350a4e;
}

footer.footer h2 {
  color: #fff;
}
footer.footer span {
  color: #fff;
}

footer .social_symbol a i {
  font-weight: bold;
  border-radius: 30px;
  /* color: #fa9e1b; */
  border: 1px solid #fa9e1b;
  padding: 6px;
}
footer .social_symbol a {
  margin-right: 8px;
}
footer .logo_footer {
  display: flex;
}
footer.footer span {
  line-height: 2px;
}
footer .social_symbol {
  margin-top: 3px;
}

footer.footer .logo_footer p {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 22px;
}
footer .footer_bottom {
  text-align: center;
}

footer .footer_bottom a:hover{
  color: #fa9e1b;
  font-weight: bold;
}
footer .blog_posts .blog_posts_content .blog_posts_info p{ 
  color: #fa9e1b;
  font-size: 14px;
  font-weight: 400;
}
footer .blog_posts .blog_posts_content .blog_posts_info p:nth-child(1){ 
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
footer .blog_posts_content .item{
  display: flex;
}

footer .blog_posts_content .blog_posts_info {
  margin-left: 15px;
}
footer .blog_posts_content .blog_posts_info p{
  margin-bottom: 0;
}
footer .blog_posts_content .item {
  margin-bottom: 30px;
}

footer .blog_posts_content .blog_posts_info p:nth-child(1):hover{
  color: #fa9e1b;
  cursor: pointer;

}

footer .tags_information li{
  border: 3px solid #fa9e1b;
  list-style-type: none;
  display: inline-block;
  margin: 0 11px;
margin-bottom: 8px;  
}

footer .tags_information ul li a{
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  line-height: 33px;

}
footer .tags_information ul{
  padding: 0 20px;
}

footer .tags_information ul li:hover{
  background-color: #fa9e1b;
  color: #fff;
  cursor: pointer;
}
footer .tags_information ul li:hover>a{
  
  color: #fff;
}

footer .contact_info span{
  line-height: 3.3;
}

.navBarRight .toggleNavbar{
  margin-left: 8px;
  margin-bottom: 7px;
}

#offcanvasRight{
  background: linear-gradient(-300deg, #fa9e1b, #8d4fff);
}

.btn-close{
  background: none;
  color: #fff !important;
}

.btn-close:hover{
  color: #fa9e1b !important;
}

.offcanvas-body li > a{
  
  font-family: "beyond_the_mountains";
  color: #fff !important;
}
.offcanvas-body >li{
  padding: 15px;
}

.offcanvas-body li:hover a{
  
  color: #fa9e1b !important;
  cursor: pointer;
}
.offcanvas-header{
  justify-content: center;
}






