@font-face {
  font-family: "beyond_the_mountains";
  src: url("../fonts/beyond_the_mountains.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  margin-bottom: 10px;
  padding-left: 0 !important;
}
header {
  background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)),
    url("../images/bg_header.webp");
  background-size: cover;
  background-position: center center;
  /* Code xong sẽ xóa, để hiển thị tạm thời */
  min-height: 800px;
}
.navTop {
  background-color: #350a4e;
  color: #fff;
}
.navTop .container {
  display: flex;
  justify-content: space-between;
}
.navTop_socialNetwork,
.navTop_logIn {
  margin-top: 10px;
  font-size: 12px;
}

.navTop_socialNetwork ul {
  list-style-type: none;
  display: flex;
}

.navTop_socialNetwork ul li:first-child {
  margin-right: 80px;
}
.navTop_socialNetwork ul li:nth-child(2) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:nth-child(3) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:nth-child(4) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:nth-child(5) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:nth-child(6) {
  margin: 0 8px;
}
.navTop_socialNetwork ul li:last-child {
  margin: 0 8px;
}

.navTop_logIn ul {
  list-style-type: none;
  display: flex;
}
.navBar {
  background: rgba(54, 19, 84, 0.6);
  color: #fff;
}
/* 
  class custom jquery navbar fixed when scroll
*/
.navbarFixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  min-height: 100px !important;
  height: 0 !important;
  background: rgb(54, 19, 84) !important;
  padding-top: 15px !important;
  transition: all 1s ease;
}
/*
  end css custom jquery navbar fixed 
*/
.navBar .container {
  display: flex;
  justify-content: space-between;
}
.navBar .navBarLeft {
  display: flex;
}
.navBarLeft ul {
  list-style-type: none;
  display: flex;
}
.navBarLeft p {
  padding-top: 13px;
}
.navBarCenter ul {
  list-style-type: none;
  display: flex;
}
.navBarCenter {
  display: flex;
  align-items: center;
}
.navBarRight {
  display: flex;
  align-items: center;
}
.navBarCenter ul li {
  margin: 0 8px;
}
.navBarRight ul {
  list-style-type: none;
  display: flex;
}
.navBarCenter {
  position: relative;
}
.navBarCenter,
.navBarLeft,
.navBarRight {
  margin-top: 10px;
}
p {
  font-size: 30px;
  font-weight: bold;
}
.navBarCenter ul li a:hover {
  color: #fff;
}
.navBarCenter a::after {
  content: "";
  display: block;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  /* position: absolute;
  left: -3%;
  top: 25px; */
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: all 500ms ease;
}
.navBarCenter a:hover::after {
  opacity: 1;
}
.button1 {
  background-image: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  background-size: 200%;
  font-size: 13px;
  color: #fff;
  display: inline-blocks;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 15px 45px 15px 45px;
  text-align: center;
  border: none;
  /* opacity: 0; */
  transition: all 500ms ease;
  transform: scale(1);
}
.container2 {
  justify-content: center;
  display: flex;
}
.navBarRight {
  font-size: 18px;
  cursor: pointer;
}
.button1 {
  background-position: right center;
}
.button1:hover {
  background-position: right center;
  /* background: linear-gradient(225deg, #fa9e1b, #8d4fff); */
  transform: scale(1.1);
  background-position: right center;
}
.button1 :hover::after {
  opacity: 1;
}
.navBarRight:hover {
  color: orange;
}
.navTop_logIn ul li {
  cursor: pointer;
}
.navTop_socialNetwork ul li {
  cursor: pointer;
}
.middleTitleHeader :first-child {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
}
.middleTitleHeader :nth-child(2) {
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-family: "beyond_the_mountains";
}
.container2 .button1 span i {
  font-size: 5px;
  vertical-align: middle;
  padding: 0 2px;
}
.container2 .button1 span i:nth-child(2) {
  opacity: 0.6;
}
.container2 .button1 span i:last-child {
  opacity: 0.4;
}

section.bestTour {
  margin-top: 100px;
}
section.bestTour .container {
  text-align: center;
}
section.bestTour .container h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
}

section.bestTour .container p {
  font-style: italic;
  color: #929191;
  font-size: 24px;
  padding: 0 100px 0 100px;
}
section.bestTour .bestTourCard {
  display: flex;
  justify-content: space-between;
}
section.bestTour .bestTourCard .item {
  /* background-color: #fa9e1b; */
  /* background: url('../images/bestTour_bg_1.webp'); */
  background-size: cover;
  background-position: center center;
  padding: 40px 0px;
  height: 450px;
}
section.bestTour .bestTourCard .item:first-child {
  /* background-color: #fa9e1b; */
  background: url("../images/bestTour_bg_1.webp");
}
section.bestTour .bestTourCard .item:nth-child(2) {
  background: url("../images/bestTour_bg_2.webp");
}
section.bestTour .bestTourCard .item:nth-child(3) {
  background: url("../images/bestTour_bg_3.webp");
}

/* section best offers */
section.bestOffer .item_left img {
  width: 100%;
}
section.bestOffer .item_left span {
  background-color: #fa9e1b;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  left: 0;
  padding: 10px 35px;
  position: relative;
  bottom: 65px;
}

section .bestTourCardButton .button2 {
  background-image: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  background-size: 200%;
  font-size: 13px;
  color: #fff;
  display: inline-blocks;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 15px 60px 15px 60px;
  text-align: center;
  border: none;
  /* opacity: 0; */
  transition: all 500ms ease;
  transform: scale(1);
  margin-top: 80px;
}
.bestTourCardButton .button2 span i {
  font-size: 5px;
  vertical-align: middle;
  padding: 0 2px;
}
.bestTourCardButton .button2 span i:nth-child(2) {
  opacity: 0.6;
}
.bestTourCardButton .button2 span i:last-child {
  opacity: 0.4;
}
section.bestTour .bestTourCard .item .bestTourCardCalendar span {
  background-color: #fa9e1b;
  border-radius: 30px;
  padding: 5px 40px;
  /* margin-bottom: 30px; */
}
.costBestOffer {
  margin-top: -25px;
}

.costBestOffer h2 {
  color: #fa9e1b;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.costBestOffer p {
  display: inline-block;
  font-size: 14px;
  color: #929191;
  font-weight: 400;
  margin-bottom: 0;
}
.bestOffer_star i:first-child {
  color: #ffeb8d;
}

.bestOffer_star i:nth-child(2) {
  color: #fed46b;
}
.bestOffer_star i:nth-child(3) {
  color: #fbb53d;
}
.bestOffer_star i:nth-child(4) {
  color: #fa9e1b;
}
.bestOffer_star i:nth-child(5) {
  color: #a5a5a5;
}

.bestOffer_star {
  letter-spacing: 0.5px;
}

.item_right > div > p {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #929191;
}
.bestOfferIcons {
  letter-spacing: 8px;
}
.item_right > a {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.4s ease;
}

.item_right > a:hover {
  color: #fa9e1b;
}

.bestOffer .item_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .bestTourCard p i:first-child {
  color: #ffeb8d;
}
.container .bestTourCard p i:nth-child(2) {
  color: #fed46b;
}
.container .bestTourCard p i:nth-child(3) {
  color: #fbb53d;
}
.container .bestTourCard p i:nth-child(4) {
  color: #fa9e1b;
}
.container .bestTourCard p i:nth-child(5) {
  color: #a5a5a5;
}
.bestTourCard p i {
  /* letter-spacing: 2px; */
  margin: 0 1px;
}
.back-to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: linear-gradient(60deg, #fa9e1b, #8d4fff);
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  transform: scale(1);
  transition: all 300ms ease;
}
.back-to-top-button span i {
  padding: 10px 16px;
  color: #fff;
  font-size: 32px;
}
.back-to-top-button:hover {
  transform: scale(1.07);
  opacity: 0.9;
}
/* section deluxe package */
section.deluxe_package {
  /* background: url(../images/background_sea.jpg); */
  background: linear-gradient(to right, rgba(250, 157, 27, 0.5), #8d4fff),
    url(../images/background_sea.jpg);
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.deluxe_package .container {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  background-color: #fff;
  
}
section.deluxe_package .container button{
  display: block;
  margin: 0 auto;
}


section.deluxe_package .container h2{
  margin-top: 50px;
  font-weight: bold;
}
section.deluxe_package .container span{
  font-weight: 300;
  line-height: 2.3;
  color:#a5a5a5;
  font-size: 30px;
}

section.deluxe_package .container p i:first-child {
  color: #ffeb8d;
}
section.deluxe_package .container p i:nth-child(2) {
  color: #fed46b;
}
section.deluxe_package .container p i:nth-child(3) {
  color: #fbb53d;
}
section.deluxe_package .container p i:nth-child(4) {
  color: #fa9e1b;
}
section.deluxe_package .container p i:nth-child(5) {
  color: #a5a5a5;
  
}
section.deluxe_package .container .BookNow {
  background-image: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  background-size: 200%;
  font-size: 13px;
  color: #fff;
  display: inline-blocks;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 15px 60px 15px 60px;
  text-align: center;
  border: none;
  /* opacity: 0; */
  transition: all 500ms ease;
  transform: scale(1);
  margin-top: 80px;
}
section.deluxe_package .container .BookNow span i {
  font-size: 5px;
  vertical-align: middle;
  padding: 0 2px;
}
.bestTourCardButton .button2 span i:nth-child(2) {
  opacity: 0.6;
}
.bestTourCardButton .button2 span i:last-child {
  opacity: 0.4;
}

/* section.deluxe_package{
  justify-content: center;
  align-items: center;
  /* display: flex; */
